@import "tailwindcss";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffaf5;
    color: #1f2937;
  }

  @keyframes spin-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1800deg); } /* 5 full spins */
  }
  
  .animate-spin-slow {
    animation: spin-slow 5s ease-out;
  }
  